<!--Deanne Laylay-->
<!-- 301279203 -->
<!-- COMP229 SEC.001 -->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>


<main class="container" style="margin-top: 5rem;">
    <div class="jumbotron">
        <br>
        <h1 class="text-center" style="color:#AD8330"><strong>My <%= title %></strong></h1>
    
        <div class="mt-5">
          <div class="row">
    
            <!-- Web Development -->
            <div class="col-md-4 text-center">
              <img src="/img/HTML CSS.svg" alt="HTML-CSS logo" style="height: 200px;">
              <h2 class="display-4 mt-3" style="font-size: 35px; font-weight: bold;">Web Development</h2><br>
              <p class="display-5" style="font-size: 18px;">
                I specialize in providing professional and high-quality web development services. My web development process is guided by a deep understanding of user experience and modern design principles. I strive to create visually appealing websites that engage visitors and enhance their browsing experience.
              </p>
            </div>
    
            <!-- C# -->
            <div class="col-md-4 text-center">
              <img src="/img/c-sharp.svg" alt="C# logo" style="height: 200px;">
              <h2 class="display-4 mt-3" style="font-size: 35px; font-weight: bold;"><strong>C#</strong></h2><br>
              <p class="display-5" style="font-size: 18px;">
                I am a dedicated professional with expertise in C# programming. With my skills and experience, I can provide high-quality solutions tailored to your specific needs.              </p>
            </div>
    
            <!-- Java -->
            <div class="col-md-4 text-center">
              <img src="/img/Java.svg" alt="Java logo" style="height: 200px;">
              <h2 class="display-4 mt-3" style="font-size: 35px; font-weight: bold;">Java</h2><br>
              <p class="display-5" style="font-size: 18px;">                
                I create custom websites and applications tailored to your unique requirements. From responsive design to performance optimization, I deliver high-quality solutions that showcase your skills and accomplishments effectively.
              </p>
            </div>
          </div>
    
        </div>
    
      </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   